name: Build and Push Docker Image
on:
  push:
    branches:
      - 'v*'
jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      run: |
         IMAGE_NAME=testimg
         TAG_NAME=testimg
         docker build -t testimg:testimg ./testimg

    - name: Save Docker image to tar.gz
      run: |
         IMAGE_NAME=testimg
         TAG_NAME=testimg
         mkdir -p artifacts
         docker save testimg:testimg -o artifacts/testimg-testimg.tar
         gzip -f artifacts/testimg-testimg.tar

    - name: Upload tar.gz to GitHub Release
      uses: softprops/action-gh-release@v2
      with:
          files: artifacts/testimg-testimg.tar.gz
      env:
          GITHUB_TOKEN: ${{ secrets.MY_TOKEN }}
